<div class="container mt-5">

    <mat-card class="shadow">

        <mat-card-header>

            <mat-card-title appHighlight>

                Student Registration Form

            </mat-card-title>

        </mat-card-header>

        <mat-card-content>

            <form #studentForm="ngForm" (ngSubmit)="submitForm()">

                <!-- Name -->

                <mat-form-field appearance="outline" class="full-width">

                    <mat-label>Student Name</mat-label>

                    <input matInput type="text" name="name" [(ngModel)]="student.name" required #name="ngModel">

                </mat-form-field>

                <div class="text-danger" *ngIf="name.invalid && name.touched">

                    Student Name is required

                </div>

                <!-- Email -->

                <mat-form-field appearance="outline" class="full-width">

                    <mat-label>Email</mat-label>

                    <input matInput type="email" name="email" [(ngModel)]="student.email" required email
                        #email="ngModel">

                </mat-form-field>

                <div class="text-danger" *ngIf="email.errors?.['required'] && email.touched">

                    Email is required

                </div>

                <div class="text-danger" *ngIf="email.errors?.['email'] && email.touched">

                    Invalid Email Format

                </div>

                <!-- Course -->

                <mat-form-field appearance="outline" class="full-width">

                    <mat-label>Course</mat-label>

                    <input matInput type="text" name="course" [(ngModel)]="student.course" required #course="ngModel">

                </mat-form-field>

                <div class="text-danger" *ngIf="course.invalid && course.touched">

                    Course is required

                </div>

                <!-- Age -->

                <mat-form-field appearance="outline" class="full-width">

                    <mat-label>Age</mat-label>

                    <input matInput type="number" name="age" [(ngModel)]="student.age" required min="18" #age="ngModel">

                </mat-form-field>

                <div class="text-danger" *ngIf="age.errors?.['required'] && age.touched">

                    Age is required

                </div>

                <div class="text-danger" *ngIf="age.errors?.['min'] && age.touched">

                    Age must be 18 or above

                </div>
                   <!-- City -->

                 <mat-form-field appearance="outline" class="full-width">

                    <mat-label>City</mat-label>

                    <input matInput type="text" name="city" [(ngModel)]="student.city" required #city="ngModel">

                </mat-form-field>

                <div class="text-danger" *ngIf="city.invalid && city.touched">

                    City is required

                </div>

                <br>

                <button mat-raised-button color="primary" appHighlight type="submit" class="full-width"
                    [disabled]="studentForm.invalid">

                    Save Student

                </button>

            </form>

        </mat-card-content>

    </mat-card>

    <!-- Live Preview -->

    <mat-card class="mt-4 shadow">

        <mat-card-header>

            <mat-card-title>

                Live Preview

            </mat-card-title>

        </mat-card-header>

        <mat-card-content>

            <p><strong>Name:</strong> {{student.name}}</p>

            <p><strong>Email:</strong> {{student.email}}</p>

            <p><strong>Course:</strong> {{student.course}}</p>

            <p><strong>Age:</strong> {{student.age}}</p>

        </mat-card-content>

    </mat-card>

</div>