<div class="container mt-4">

    <div class="row mb-4">

        <div class="col-md-3">

            <div class="card dashboard-card bg-primary text-white">

                <div class="card-body text-center">

                    <h1>👨‍🏫</h1>

                    <h3>{{totalTeachers}}</h3>

                    <p>Total Teachers</p>

                </div>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card dashboard-card bg-success text-white">

                <div class="card-body text-center">

                    <h1>📚</h1>

                    <h3>{{totalSubjects}}</h3>

                    <p>Subjects</p>

                </div>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card dashboard-card bg-warning">

                <div class="card-body text-center">

                    <h1>🏢</h1>

                    <h3>{{totalDepartments}}</h3>

                    <p>Departments</p>

                </div>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card dashboard-card bg-danger text-white">

                <div class="card-body text-center">

                    <h1>📍</h1>

                    <h3>{{totalCities}}</h3>

                    <p>Cities</p>

                </div>

            </div>

        </div>

    </div>

    <div class="card shadow">

        <div class="card-header bg-primary text-white d-flex justify-content-between">

            <h4>

                👨‍🏫 Teacher List

            </h4>

            <a routerLink="/employee-form" class="btn btn-light">

                ➕ Add Teacher

            </a>

        </div>

        <div class="card-body">

            <div class="row mb-3">

                <div class="col-md-6">

                    <input type="text" class="form-control" placeholder="Search Teacher" [(ngModel)]="searchText"
                        (input)="searchEmployee()">

                </div>

            </div>

          <div class="row">

    <div
        class="col-lg-4 mb-4"
        *ngFor="let employee of filteredEmployees">

        <app-employee-card

            [employee]="employee"

            (viewEmployee)="viewEmployee($event)"

            (editEmployee)="editEmployee($event)"

            (deleteEmployee)="deleteEmployee($event)">

        </app-employee-card>

    </div>

</div>

        </div>

    </div>

    <div class="card mt-4 border-success" *ngIf="selectedEmployeeId">

        <div class="card-header bg-success text-white">

            Teacher Details

        </div>

        <div class="card-body">

            Teacher ID :

            <b>

                {{selectedEmployeeId}}

            </b>

        </div>

    </div>

</div>