<div class="container mt-4">

    <h2 class="text-primary">
        Employee Registration
    </h2>

    <form [formGroup]="employeeForm" (ngSubmit)="submit()">
        <div class="mb-5">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name">

            <div class="text-danger" *ngIf="employeeForm.get('name')?.touched &&
                                                   employeeForm.get('name')?.invalid">
                Name is required
            </div>
        </div>
        <div class="mb-3">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email">
            <div class="text-danger" *ngIf="employeeForm.get('email')?.errors?.['required'] && 
                    employeeForm.get('email')?.touched">
            Email is required
        </div>
         <div class="text-danger" *ngIf="employeeForm.get('email')?.errors?.['email']">
            Invaild Email
        </div>
        </div>
        <div class="mb-3">
         <label>Password</label>
         <input type="password"
                class="form-control"
                formControlName="password">

           <div class="text-danger"
                    *ngIf="employeeForm.get('password')?.errors?.['invalidPassword']">
                    Password must contain 8
                    characters, one capital letter 
                    and one number.

           </div>
        </div>
        <button class="btn btn-success">
         Register
        </button>

    </form>
</div>