<div class="container mt-4">

    <div class="card shadow-lg border-0">

        <div class="card-header bg-primary text-white">

            <h3>

                👨‍🏫 Teacher Registration

            </h3>

        </div>

        <div class="card-body">

            <form [formGroup]="employeeForm" (ngSubmit)="submit()">

                <div class="row">

                    <!-- Name -->

                    <div class="col-md-6 mb-3">

                        <label class="fw-bold">

                            Teacher Name

                        </label>

                        <input class="form-control" placeholder="Enter Teacher Name" formControlName="name">

                        <small class="text-danger" *ngIf="employeeForm.get('name')?.touched &&
                                   employeeForm.get('name')?.invalid">

                            Name is required (Minimum 3 letters)

                        </small>

                    </div>

                    <!-- Email -->

                    <div class="col-md-6 mb-3">

                        <label class="fw-bold">

                            Email

                        </label>

                        <input type="email" class="form-control" placeholder="teacher@gmail.com"
                            formControlName="email">

                        <small class="text-danger" *ngIf="employeeForm.get('email')?.touched &&
                                   employeeForm.get('email')?.invalid">

                            Enter a valid email

                        </small>

                    </div>

                    <!-- Password -->

                    <div class="col-md-6 mb-3">

                        <label class="fw-bold">

                            Password

                        </label>

                        <input type="password" class="form-control" placeholder="Enter Password"
                            formControlName="password">

                        <div class="mt-2" *ngIf="password?.touched && password?.invalid">

                            <small class="d-block" [class.text-success]="hasMinLength()"
                                [class.text-danger]="!hasMinLength()">

                                {{hasMinLength() ? '✔' : '✖'}}
                                Minimum 8 Characters

                            </small>

                            <small class="d-block" [class.text-success]="hasUpperCase()"
                                [class.text-danger]="!hasUpperCase()">

                                {{hasUpperCase() ? '✔' : '✖'}}
                                One Uppercase Letter

                            </small>

                            <small class="d-block" [class.text-success]="hasLowerCase()"
                                [class.text-danger]="!hasLowerCase()">

                                {{hasLowerCase() ? '✔' : '✖'}}
                                One Lowercase Letter

                            </small>

                            <small class="d-block" [class.text-success]="hasNumber()"
                                [class.text-danger]="!hasNumber()">

                                {{hasNumber() ? '✔' : '✖'}}
                                One Number

                            </small>

                            <small class="d-block" [class.text-success]="hasSpecialCharacter()"
                                [class.text-danger]="!hasSpecialCharacter()">

                                {{hasSpecialCharacter() ? '✔' : '✖'}}
                                One Special Character

                            </small>

                        </div>

                    </div>

                    <!-- Department -->

                    <div class="col-md-6 mb-3">

                        <label class="fw-bold">

                            Department

                        </label>

                        <select class="form-select" formControlName="department">

                            <option value="">

                                Select Department

                            </option>

                            <option *ngFor="let d of departments" [value]="d">

                                {{d}}

                            </option>

                        </select>

                    </div>

                    <!-- Subject -->

                    <div class="col-md-6 mb-3">

                        <label class="fw-bold">

                            Subject

                        </label>

                        <select class="form-select" formControlName="subject">

                            <option value="">

                                Select Subject

                            </option>

                            <option *ngFor="let s of subjects" [value]="s">

                                {{s}}

                            </option>

                        </select>

                    </div>

                    <!-- Qualification -->

                    <div class="col-md-6 mb-3">

                        <label class="fw-bold">

                            Qualification

                        </label>

                        <input class="form-control" placeholder="B.Tech / M.Tech" formControlName="qualification">

                    </div>

                    <!-- Experience -->

                    <div class="col-md-6 mb-3">

                        <label class="fw-bold">

                            Experience

                        </label>

                        <input type="number" class="form-control" formControlName="experience">

                    </div>

                    <!-- Phone -->

                    <div class="col-md-6 mb-3">

                        <label class="fw-bold">

                            Phone

                        </label>

                        <input class="form-control" placeholder="9876543210" formControlName="phone">

                        <small class="text-danger" *ngIf="employeeForm.get('phone')?.invalid &&
                                   employeeForm.get('phone')?.touched">

                            Enter a valid 10 digit phone number

                        </small>

                    </div>

                    <!-- City -->

                    <div class="col-md-6 mb-3">

                        <label class="fw-bold">

                            City

                        </label>

                        <input class="form-control" placeholder="Pune" formControlName="city">

                    </div>

                    <!-- Address -->

                    <div class="col-12 mb-3">

                        <label class="fw-bold">

                            Address

                        </label>

                        <textarea rows="3" class="form-control" formControlName="address">

                        </textarea>

                    </div>

                </div>

                <button class="btn btn-success w-100" [disabled]="employeeForm.invalid">

                    {{employeeId ? '✏ Update Teacher' : '➕ Register Teacher'}}

                </button>

            </form>

        </div>

    </div>

</div>