<div class="container mt-4">

  <h2 class="text-primary">Posts</h2>

  <div *ngIf="loading" class="alert alert-info">
    Loading Posts...
  </div>

  <div *ngIf="error" class="alert alert-danger">
    {{ error }}
  </div>

  <table class="table table-bordered" *ngIf="posts.length > 0">

    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Body</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let post of posts">

        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.body }}</td>

      </tr>

    </tbody>

  </table>

</div>